@use 'variables' as *;
@use 'mixins' as *;
@use 'reset';
@use 'sass:color';

// Global styles for HTML and Body
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

// Heading styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: 400;
  margin: 0;
  color: var(--color-primary);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

// Text elements
p {
  margin: 0 0 1rem 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: text-decoration var(--transition-default);

  &:hover {
    text-decoration: underline;
  }
}

.test2 h1 {
  font-family: var(--font-secondary);
  color: var(--color-secondary);

  @include from-768 {
    color: red;
  }

  @include until-768 {
    color: green;
  }
}
